$white: white;
$black: black;
$pink: #ce9e9a;
$pink2: #cda4a0ac;
$pink3: #ce9590;
$purple: #5f5773;
$purple2: #5e4b8997;
$purple3: #524969;
$hrefPurple: rgb(107, 11, 107);
$darkPurple: rgb(96, 50, 96);
$darkPurple2: rgb(49, 23, 49);
$blue: #91b7e8;
$blue2: #b0caeb;
$blue3: #386ed1;
$grey: #b4b4b4;
$red: rgb(181, 0, 0);
$beige: #a69b99;
$inputBgc: rgba(255, 255, 255, 0.2);
$shadow: rgba(33, 5, 0, 0.25);
$shadow2: rgba(33, 5, 0, 0.45);
$shadow3: rgba(18, 0, 0, 0.8);
$shadow4: rgba(0, 0, 0, 0.45);
$gradient2: linear-gradient(to right, #ce9590 50%, #be7d78 100%);
$gradient3: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
